.c-point-pool{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 8px;
    @include breakpoint(small) {
        gap: 10px;
        grid-template-columns: repeat(24, 1fr);
    }
    @include breakpoint(medium) {
        grid-template-columns: repeat(24, 1fr);
    }
    @include breakpoint(large) {
        grid-template-columns: repeat(36, 1fr);
    }
}

.c-month-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-brand;
    opacity: 0.3;
    @include breakpoint(small) {
        width: 10px;
        height: 10px;
        grid-template-columns: repeat(24, 1fr);
    }
    &--active{
        transform: scale(1.5);
        opacity: 1;
    }
    &--past{
        opacity: 1;
    }

}