.c-title{
    text-align: center;
    margin-bottom: 1rem;
    font-size: calc(52/16*1rem);
    @include breakpoint(medium) {
        font-size: calc(72/16*1rem);
    }
    @include breakpoint(large) {
        font-size: calc(82/16*1rem);
    }
}