.c-interractif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.c-interractif__display{
    display: none;
}

.c-interractif__title{
    font-weight: 400;
    >span{
        font-weight: 700;
    }
}

.c-stats{
    display: none;
    flex-direction: column;
    font-size: 18px;
}