/* root : colors variables */

:root {
  --color-brand: #F06449;
  --color-blue: #101F34;

  --color-black: #0A0301;
  --color-white: #FFFFFF;
}

$color-brand: var(--color-brand);
$color-blue: var(--color-blue);
$color-black: var(--color-black);
$color-white: var(--color-white);