/* ---------------------------------
=body
--------------------------------- */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: 'Switzer-Variable', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-blue);
}


